<html> 
<head> 
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style> 
body{ 
margin:0px; 
padding:0px; 
} 
.btn-dark:hover{
    color: aliceblue;
    background-color: #ffffff;
   
}
#box1{ 
background-image:url(https://cdn.glitch.global/fc4f838c-1c31-403b-a5a0-0f5f0bf684e5/home.jpg?v=1669739633885); 
background-size:cover; 
height:100vh; 
width:100%; 
display:table; 
background-attachment:fixed; 
} 
#box2{ 
background-image:url(https://cdn.glitch.global/fc4f838c-1c31-403b-a5a0-0f5f0bf684e5/1.jpg?v=1669741522897); 
background-size:cover; 
height:100vh; 
width:100%; 
display:inline-table; 
background-attachment:fixed; 
} 
.val{
  padding-right: 530px;
  font-family: papyrus;

  font-size: large;
  color: floralwhite;
  font-weight: bold;
  
  padding-left: 530px;

}
.l{
    padding-top: 600px;
    padding-left: 200px;
    color: aliceblue;
    float: left;
}
.r{
    padding-top: 600px;
    padding-right: 200px;
    color: aliceblue;
    float: right;
}
h1{ display: inline; }



strong{
    padding-top: 300px;
    font-size: xx-large;
    color: aliceblue;
    font-family: papyrus;
}



</style> 
</head> 
<body> 


    <header class = "header"> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
             <div class="container-fluid">
               <button type="button" class="btn-dark"  > <a class="navbar-brand" style="color: orangered; font-family: papyrus;font-size:25px;" href="#box1"> Home</a>
               </button>
             
               <div class="collapse navbar-collapse" id="navbarText">
                 <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                   <li class="nav-item">
                      <button type="button" class="btn-dark" > <a class="nav-link active" style="color: orangered; font-family: papyrus; font-size:25px" aria-current="page" href="http://localhost:3000/login" target="B"> Login </a></button>
                   </li>
                   <li class="nav-item">
                      <button type="button"  class="btn-dark"><a class="nav-link" style="color: orangered; font-family: papyrus; font-size:25px ;" href="http://localhost:3000/register" target="B">Register</a></button>
                   </li>
                   <li class="nav-item">
                      <button type="button"  class="btn-dark"><a class="nav-link" style="color: orangered; font-family: papyrus; font-size:25px ;" href="#box2" target="_blank">About </a></button>
                   </li>
                 </ul>
                 
               </div>
             </div>
           </nav>
           </header> 




<div id="box1"> 
    
    <h1 class = "l"></h1>   
    




  

</div> 
<div id="box2"> 
<center> 
    <br><br><br><br>
   <strong>ABOUT</strong>
   <br><br>
    <p class = "val">We are here to help you with,  learn new exercises, techniques and training methods to meet your weight-loss, muscle building, heart health or sports performance goals.<br><br>
        Exercise is not just about aerobic capacity and muscle size. Sure, exercise can improve your physical health and your physique,even add years to your life. 
        It is a powerful depression fighter for several reasons. Most importantly, it promotes all kinds of changes in the brain, including neural growth, reduced inflammation, and new activity patterns that promote feelings of calm and well-being
              Regular exercise and physical activity may Help you control your weight,Improve your mental health and mood,Strengthen your bones and muscles.
        
           </p>
</center> 
</div> 
</body>
</html>
