<!DOCTYPE html>
<head>
    <title>Login Failed</title>
</head>
<html>
    <style>
        h2{
            color: aliceblue;
            padding-left: 500px;
            font-family: papyrus;
            font-size: x-large;
        }
        p{
            color: black;
            padding-left: 700px;
            font-family: papyrus;
            font-size: x-large;
        }
        a{   
          text-decoration:none;
          font-size:25px;
         
          line-height:20px;
          color: black;
          font-family:papyrus;
      }
      a:hover
      {  
        color:red;
      }
        img{
            height: 400px;
            width: 700px;
           
            padding-left: 450px;
        }
    </style>
    <body style = "background-color: black;">
        <img src="https://cdn.glitch.global/fc4f838c-1c31-403b-a5a0-0f5f0bf684e5/404.jpg?v=1669962411308">
    
    <h2>OOPS... It seems you have entered wrong crendentials</h2>
    <p><button type = "submit" style="padding-top: 10px;padding-bottom: 10px;" ><a href="http://localhost:3000/login" style="text-decoration:none" target="B"> Try Logging Again!!!</a></button><br><br>
        <button type = "submit" style="padding-top: 10px;padding-bottom: 10px;" ><a href="http://localhost:3000/register" style="text-decoration:none" target="B">Create an Account</a></button></p>

  
</body>
</html>